<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.lanfeng.data.mapper.ConsultMapper">
    <resultMap id="consult" type="Consult">
        <id property="id" column="id"/>
        <result property="realName" column="real_name"/>
        <result property="telphone" column="telphone"/>
        <result property="state" column="state"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,real_name,telphone,state,remark,create_time
    </sql>

    <insert id="insert" parameterType="Consult" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        t_consult(id,real_name,telphone, state, remark,create_time)
        VALUE
        (#{id},#{realName},#{telphone}, #{state},#{remark},#{createTime})
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        delete from t_consult
        where id = #{id,jdbcType=BIGINT}
    </delete>


    <update id="update"  parameterType="java.lang.Long">
        UPDATE t_consult SET state=1 WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findAll" resultMap="consult">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM t_consult
        where
        state=0 ORDER by create_time ASC limit 100
    </select>

</mapper>